// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/////////////////////////////////////////////////////////////
/// MEDIA BREAKPOINTS
@mixin media($breakpoint) {
  @if $breakpoint == bp-xlarge {
     @media only screen and (max-width: $bp-xlarge) { @content };
  }
  @if $breakpoint == bp-large {
     @media only screen and (max-width: $bp-large) { @content };
  }
  @if $breakpoint == bp-medium {
     @media only screen and (max-width: $bp-medium) { @content };
  }
  @if $breakpoint == bp-small {
     @media only screen and (max-width: $bp-small) { @content };
  }
  @if $breakpoint == bp-xsmall {
     @media only screen and (max-width: $bp-xsmall) { @content };
  }
}

// When using ::before and ::after you'll always need these three, 
// So we're saving two lines of code every time we use this.
@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}