// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$color-primary-light: #007EC6;
$color-primary-dark: #041E41;
$color-secondary: #f1b336;
$color-tertiary: #004C91;
$color-bg-primary: #F3F4F5;
$color-muted: #616161;

$color-pill-red: #D9534B;
$color-pill-green: #42C2A4;
$color-pill-blue: #4CA4E3;
$color-pill-green2: #F0AE35;

////////////////////////////////////////////////////////////////
/// MEDIA QUERIES BREAKPOINTS
$bp-xlarge: 75em; 
$bp-large: 68.75em;
$bp-medium: 54.5em;
$bp-small: 37.5em;
$bp-xsmall: 27.43em;

////////////////////////////////////////////////////////////////
/// HELPER VARIABLES
$header-height: 5rem; // header height and sidebar margin top for their fixed positioning
$sidenav-width: 15rem;
$toggled-sidenav-width: 6rem;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
// $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;